<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true">
    <div class="text-center m-3">
      <img src="../assets/logo.png" alt="..." height="80px">
    </div>
    <div class="d-flex flex-column justify-content-between" style="height:calc(100vh - 120px)">

      <mat-nav-list class="menu-list">
        <div mat-subheader class="mb-1 mat-h6"><small>Settings</small></div>

        <a [routerLink]="['/','settings','accounts']" mat-list-item class="ps-3" [activated]="r1.isActive" #r1="routerLinkActive"
          routerLinkActive>
          <mat-icon matListItemIcon>settings_applications</mat-icon>
          <div matListItemTitle class="mat-body-strong">Accounts</div>
          <div matListItemLine>&nbsp;</div>
        </a>

        <a [routerLink]="['/','settings','categories']" mat-list-item class="ps-3" [activated]="r2.isActive" #r2="routerLinkActive"
          routerLinkActive>
          <mat-icon matListItemIcon>settings_applications</mat-icon>
          <div matListItemTitle class="mat-body-strong">Categories</div>
          <div matListItemLine>&nbsp;</div>
        </a>

        <a [routerLink]="['/','settings','merchants']" mat-list-item class="ps-3" [activated]="r3.isActive" #r3="routerLinkActive"
          routerLinkActive>
          <mat-icon matListItemIcon>settings_applications</mat-icon>
          <div matListItemTitle class="mat-body-strong">Merchants</div>
          <div matListItemLine>&nbsp;</div>
        </a>

        <a [routerLink]="['/','settings','rules']" mat-list-item class="ps-3" [activated]="r4.isActive" #r4="routerLinkActive"
          routerLinkActive>
          <mat-icon matListItemIcon>settings_applications</mat-icon>
          <div matListItemTitle class="mat-body-strong">Rules</div>
          <div matListItemLine>&nbsp;</div>
        </a>
      </mat-nav-list>
      <div>
        <mat-divider></mat-divider>
        <mat-nav-list class="menu-list">
          <a mat-list-item [routerLink]="['/','transactions']" class="ps-3">
            <mat-icon matListItemIcon color="primary" class="me-3">view_list</mat-icon>
            <div matListItemTitle class="mat-body-strong">Transactions</div>
            <div matListItemLine></div>
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <app-about></app-about>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="container-background-color">

    <div class="container-fluid justify-content-center px-4 ">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>