<div class="header">
	<div class="header-body">
		<div class="row align-items-center">
			<div class="col">
				<h6 class="header-pretitle">
					Settings
				</h6>
				<h2 class="header-title text-truncate">
					Accounts
				</h2>
			</div>
			<div class="col-auto">
			</div>
		</div> 
	</div>
</div>

<div class="row align-items-center mb-3">
	<div class="col">
		<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-align-tabs="start" mat-stretch-tabs="false">
			<a mat-tab-link [routerLink]="['../open']" routerLinkActive #rla1="routerLinkActive"
				[active]="rla1.isActive"> Open </a>
			<a mat-tab-link [routerLink]="['../closed']" routerLinkActive #rla2="routerLinkActive"
				[active]="rla2.isActive"> Closed </a>
		</nav>
		<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
	</div>
	<div class="col-auto">
		<button (click)="addAccount()" mat-flat-button color="primary">
			Add Account
		</button>
	</div>
</div>

<div class="col-lg-12">
	<app-error-message [errorMessage]="errorMessage"></app-error-message>
</div>

<div class="card mb-1">
	<div class="card-header">
		<div class="col">
			<input type="search" class="search-input" placeholder="Search" #inputSearch>
		</div>
	</div>
	<app-loader [show]="loading"></app-loader>
	<div class="table-responsive">
		<table class="table table-sm align-middle">
			<thead>
				<tr>
					<th class="col-5">
						Account Name
					</th>
					<th class="col-5">
						File Format
					</th>
					<th class="col">
						Status
					</th>
					<th class="col"></th>
				</tr>
			</thead>
			<app-empty-state *ngIf="accounts && accounts.length === 0">
			</app-empty-state>
			<tbody>
				<ng-container *ngFor="let account of accounts">
					<tr>
						<td class="col-5">{{ account.Description }}</td>
						<td class="col-5">{{ account.FileFormat }}</td>
						<td class="col">
							<span *ngIf="account.Closed">Closed</span>
							<span *ngIf="!account.Closed">Open</span>
						</td>
						<td class="col d-flex justify-content-end">
							<button mat-icon-button (click)="editAccount(account.Id)">
								<i class="fa fa-edit fa-2xs"></i>
							</button>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
	<div class="card-footer bg-white d-flex justify-content-end">

		<mat-paginator (page)="handlePageEvent($event)" [pageIndex]="pagedList.PageIndex"
			[length]="pagedList.RecordCount" [pageSize]="pagedList.PageSize" [pageSizeOptions]="[5, 10, 25, 100]"
			showFirstLastButtons="true" aria-label="Select page">
		</mat-paginator>

	</div>
</div>
