table tbody {
    display: block;
    height: calc(100vh - 340px); 
    
    overflow-y: auto;
    overflow-x: auto; 
  }
  
  table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }